<h2>A busca já está sendo feita. Só aguardar pelo resultado</h2>

<p>Precione F5 pra atualizar a página</p>

<p>Número de categorias: <%= Category.count %></p>
<p>Número de Fornecedores: <%= Supplier.count %></p>

<p><%= link_to 'Menu', root_path %></p>
