<h1>Página Inicial</h1>

<div>
  <p>Clique no botão abaixo para iniciar a coleta de informações od site <strong>https://fornecedores.blu.com.br/</strong>.</p>
</div>

<div>
  <%= button_to 'Coletar informações', activate_crawler_path, method: :post %>
</div>
